body{
    background: #f5efe2;
}

.content{
    width: 990px;

    margin-left: auto;
    margin-right: auto;
}




.bs-docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.bs-docs-nav .navbar-collapse {
    border-color: #463265;
}
.bs-docs-nav .navbar-brand {
    color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
    color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
    color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #463265;
}
.bs-docs-nav .navbar-toggle {
    border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
    background-color: #463265;
    border-color: #463265;
}















.fade-enter-setup, .fade-leave-setup {
     transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
 }
.fade-enter-setup,
.fade-leave-setup.fade-leave-start {
    opacity: 0;
}
.fade-leave-setup,
.fade-enter-setup.fade-enter-start {
    opacity: 1;
}

/*Screen  used for matual friends*/

#experiment-content{
    width: 100%;
    height: 100%;
    text-align: center;
}


#nodes text{
    pointer-events:none;
    fill: #ffffff;
    text-shadow: 1px 1px #000;
}

#nodes .node{
    cursor: pointer;
    stroke-width: 2px;
    fill: rgba(256, 0, 0, 0.2);
    stroke: rgba(256, 0, 0, 0.2);
}

#nodes .node:hover{
    fill: rgba(256, 256, 256, 1);
    stroke: white;
}


#nodes .link {
    pointer-events:none;
    stroke: red;
    stroke-opacity: .1;
}

#nodes .hover-link{
    stroke: white;
    stroke-opacity: .5;
}

.ranking {
    padding: 10px;
    margin: 0 auto;
    float: none;
}
