<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>FriendsDoc</title>
  <link rel="stylesheet" href="../public/components/bootstrap-css/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../public/components/bootstrap-css/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/custom.css"/>
  <link rel="stylesheet" href="css/carousel.css" >
  <link rel="stylesheet" href="css/docs.css" >
  <link rel="stylesheet" href="../public/components/nvd3/nv.d3.min.css"/>

</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">


        <div class="nav-collapse collapse">
          <ul class="nav">

            <!-- Here you can see ui-sref in action again. Also notice the use of $state.includes, which
                 will set the links to 'active' if, for example on the first link, 'contacts' or any of
                 its descendant states are activated. -->

            <li><a class="brand" ui-sref="home">FriendsDoc</a></li>
            <li ng-class="{ active: $state.includes('home') }"><a ui-sref="home">Home</a></li>

            <!-- dashboard dropdown -->
            <li ng-class="{ active: $state.includes('dashboard') }" ng-show="authentication.accessToken">
              <a ui-sref="dashboard">Dashboard</a>
            </li>


            <!-- conceal function list and about page in navbar
            <li class="dropdown" ng-controller="DropdownCtrl" ng-show="authentication.accessToken">
              <a class="dropdown-toggle">Functionalities</a>
              <ul class="dropdown-menu">
                <li ng-repeat="choice in items">
                  <a ui-sref={{choice.url}}>{{choice.text}}</a>
                </li>
              </ul>
            </li>

            <li ng-class="{ active: $state.includes('about') }"><a ui-sref="about">About</a></li>
            -->


          </ul>

          <!-- for unauthenticated users-->
          <div ng-controller="AuthenticationCtrl" ng-show="!authentication.accessToken">
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="login()">
                  Login
                </a>
              </li>
            </ul>

          </div>


          <!-- for authenticated users-->
          <div ng-controller="AuthenticationCtrl" ng-show="authentication.accessToken">
            <ul class="nav pull-right">
              <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" class="dropdown-toggle" data-toggle="dropdown">
                  {{profile.name}}
                  <b class="caret"></b>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li role="presentation">
                    <a href="#" role="menuitem" tabindex="1" ui-sref="profile">Profile</a>
                  </li>
                  <li role="presentation">
                    <a href="#" role="menuitem" tabindex="2" ng-click="logout()">Logout</a>
                  </li>
                </ul>

              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>


        <!-- Here is a named ui-view. ui-views don't have to be named, but we'll be populate this
             on from various different child states and we want a name to help us target. -->
        <!--<p ui-view="hint" class="navbar-text pull-right"></p>-->

  <!-- Here is the main ui-view (unnamed) and will be populate by its immediate children's templates
          unless otherwise explicitly named views are targeted. It's also employing ng-animate. -->

  <div class="container">
    <!-- we use code here for debugging-->
    <div ui-view class="content" style="padding-top:50px" ng-animate="{enter:'fade-enter'}"></div>
  </div>



  <!-- Footer-->
  <footer class="footer" ng-controller="FooterCtrl">
      <div class="content">
          <p>Designed and built by students at University of Pittsburgh<a href="https://www.facebook.com/profile.php?id=100004203151344&fref=ts" target="_blank">@Jiaxin Shan</a>, <a href="https://www.facebook.com/yaxianhao" target="_blank">@Yaxian Hao</a> and <a href="https://www.facebook.com/huan.wang.52" target="_blank">@Huan Wang</a>.</p>
          <ul class="footer-links">
              <li><a href="https://github.com/Jeffwan/friendsDoc">Github</a></li>
              <li class="muted">&middot;</li>
              <li><a href="" ng-click="openModal()">Terms and Conditions</a></li>
          </ul>
      </div>
  </footer>

  <!-- At the privacy link and terms we can have a page to declare our privacy agreements.-->
  <!-- End of Footer-->

  <!--Google Map Chart-->
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <!--<script src="../public/components/jquery/jquery.min.js"></script>-->
  <!--<script src="../public/components/bootstrap-css/js/bootstrap.min.js"></script>-->
  <!--<script src="../public/components/angular/angular.min.js"></script>-->
  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angularUI/angular-ui-router.js"></script>
  <script src="lib/angularUI/ui-bootstrap-tpls-0.6.0.min.js"></script>
  <!--<script src="../public/components/angular-ui-router/lib/angular-1.0.6.js"></script>-->
  <!--<script src="../public/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
  <script src="../public/components/angular-facebook/lib/angular-facebook.js"></script>

  <!--sex chart-->
  <script src="../public/components/d3/d3.v2.min.js"></script>
  <script src="../public/components/nvd3/nv.d3.min.js"></script>


  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/services/authentication.js"></script>
  <script src="js/services/facebookapi.js"></script>
  <script src="js/services/localStorage.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/controllers/authenticationCtrl.js"></script>
  <script src="js/controllers/carouseDemoCtrl.js"></script>
  <script src="js/controllers/datepickerDemoCtrl.js"></script>
  <script src="js/controllers/dropdownCtrl.js"></script>
  <script src="js/controllers/dashboardCtrl.js"></script>
  <script src="js/controllers/footerCtrl.js"></script>

  <!--<script src="js/services/facebookAPI.js"></script>-->
  <script src="js/filters.js"></script>
  <script src="js/directive.js"></script>
</body>
</html>
