<div class="row-fluid">
    <div class="span3" ng-controller="DashboardCtrl">
        <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Functions</li>
                <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
                     AND if it is the link for the active contact (aka contactId) -->
                <li><a href="" ng-click="carememost()">Care Me Most</a></li>
                <li><a href="" ng-click="likememost()">Like Me Most</a></li>
                <li><a href="" ng-click="network()">Friends Map</a></li>
                <li><a href="" ng-click="sex()">Gals before pals?</a></li>
                <li><a href="" ng-click="narcissistic()">Narcissistic</a></li>
                <li><a href="" ng-click="mutualfriends()">Network Map</a></li>

            </ul>
        </div>
    </div>

    <div class="span8 offset1">
        <h2>Care Me Most</h2>
        <h4>Treasure All These People! They care you the most!</h4>

        <div class="container main">
            <div class="ranking center-block">
                <span class="badge badge-info">1</span>
                <img class="img-circle" src={{pictures[0]}}>
                <span>{{result[0][0]}}</span>
            </div>

            <div class="ranking center-block">
                <span class="badge badge-info">2</span>
                <img class="img-circle" src={{pictures[1]}}>
                <span>{{result[1][0]}}</span>
            </div>


            <div class="ranking center-block">
                <span class="badge badge-info">3</span>
                <img class="img-circle" src={{pictures[2]}}>
                <span>{{result[2][0]}}</span>
            </div>

            <div class="ranking center-block">
                <span class="badge badge-info">4</span>
                <img class="img-circle" src={{pictures[3]}}>
                <span>{{result[3][0]}}</span>
            </div>

            <div class="ranking center-block">
                <span class="badge badge-info">5</span>
                <img class="img-circle" src={{pictures[4]}}>
                <span>{{result[4][0]}}</span>
            </div>

            <div class="ranking center-block">
                <span class="badge badge-info">6</span>
                <img class="img-circle" src={{pictures[5]}}>
                <span>{{result[5][0]}}</span>
            </div>

        </div>
    </div>



</div>