

    <!-- start of the main functions-->

    <div class="content">
      <div class="marketing">
        <h1>Ready? Go!</h1>
        <p class="marketing-byline">Click on any button to play with it.</p>
        <div class="row-fluid">
          <div class="span4">
            <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
            <h2>Who cares me the most?</h2>
            <p class="text-center"><br>Do you curious about who care you the most? Someone may always pay attention to everything that you posted and leave a comment. No doubt! That person cares you!!</p>
            <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
          </div>
          <div class="span4">
            <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
            <h2>Who liked me the most?</h2>
            <p class="text-center"><br>Do you know who will give you "like" the most? Do you want to know who support you the most? Check here and find out your loyal friends!<br><br></p>
            <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
          </div>
          <div class="span4">
            <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
            <h2>My Friends' Map<br><br></h2>
            <p class="text-center"><br>Your friends maybe spread all over the world. Do you want to know how your network looks like on the atlas? Travel with friendsDoc! <br><br></p>
            <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="soften">

    <div class="content">
      <div class="marketing">
          <div class="row-fluid">
              <div class="span4">
                  <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
                  <h2>My Friends' Sex Ratio<br><br></h2>
                  <p class="text-center">Are you "Gals before pals" or just too shy to add a heterosexual friend? Let's see your friends sex ratio!<br><br></p>
                  <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
              </div>
              <div class="span4">
                  <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
                  <h2>Who is the most Narcissistic?</h2>
                  <p class="text-center">Some of your friends always put selfie on their Facebook and you think them narcissistic? Let's take a look who is the most narcissistic person!</p>
                  <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
              </div>
              <div class="span4">
                  <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
                  <h2>My Network<br><br></h2>
                  <p class="text-center">Do you want to know how your friends connect each other and maybe you can find some unexpected relationships? Prove how small this world is!<br></p>
                  <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
              </div>
          </div>
      </div>
    </div>

    <!-- end of the introduction-->



