

<!-- start of the main functions-->

<div class="container">
  <div class="marketing">
    <h1>Ready? Go!</h1>
    <p class="marketing-byline">Click on any button to play with it.</p>
    <div class="row-fluid">
      <div class="span4">
        <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Who cares you the most?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
        <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
      </div>
      <div class="span4">
        <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Who cares you the most?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
        <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
      </div>
      <div class="span4">
        <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Who cares you the most?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
        <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
      </div>
    </div>
  </div>
</div>

<hr class="soften">

<div class="container">
  <div class="marketing">
    <div class="row-fluid">
      <div class="span6">
        <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Who cares you the most?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
        <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
      </div>
      <div class="span6">
        <img class="img-circle" src="img/pink_bubble.jpg" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Who cares you the most?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
        <a href="#" class="btn btn-large btn-primary">Let's FriendsDoc!</a>
      </div>
    </div>
  </div>
</div>

<!-- end of the introduction-->



