<!-- carousel start-->

<div ng-controller="CarouselDemoCtrl">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img class="img-rounded" ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
</div>




<!-- /.carousel -->

<hr class="soften">

<!-- start of the introduction-->

<div class="content">
  <div class="marketing">
    <h1>Introducing FriendsDoc.</h1>
    <p class="marketing-byline">Get to know your friends better? No more wait!</p>
    <div class="row-fluid">
      <div class="span4">
        <img class="img-circle" src="img/circle_facebook.jpg" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Design for whom?</h2>
        <p class="text-center">This web application is designed for those Facebook users who are interested in more detailed interaction with their friends. </p>
      </div>
      <div class="span4">
        <img class="img-circle" src="img/connection.png" alt="140*140" style="width:140px; height: 140px"/>
        <h2>What to expect?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
      </div>
      <div class="span4">
        <img class="img-circle" src="img/improvement.png" alt="140*140" style="width:140px; height: 140px"/>
        <h2>Any improvement?</h2>
        <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
      </div>
    </div>
  </div>
</div>



