<p class="lead">Welcome to the UI-Router Demo</p>

<p>Use the menu above to navigate.
  Pay attention to the <code>$state</code> and <code>$stateParams</code> values below.
</p>

<p>Click these links—<a href="#/c?id=1">Alice</a> or <a href="#/user/42">Bob</a>—to see a url redirect in action.
</p>



<!--<div ng-controller="CarouselDemoCtrl">-->
  <!--<carousel interval="myInterval">-->
    <!--<slide ng-repeat="slide in slides" active="slide.active">-->
      <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
      <!--<div class="carousel-caption">-->
        <!--<h4>Slide {{$index}}</h4>-->
        <!--<p>{{slide.text}}</p>-->
      <!--</div>-->
    <!--</slide>-->
  <!--</carousel>-->
<!--</div>-->