<div class="row-fluid">
    <div class="span3" ng-controller="DashboardCtrl">
        <div class="well">
            <ul class="nav nav-list">
                  <li class="nav-header">Functions</li>
                               <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
                                    AND if it is the link for the active contact (aka contactId) -->
                               <li><a href="" ng-click="carememost()">Care Me Most</a></li>
                               <li><a href="" ng-click="likememost()">Like Me Most</a></li>
                               <li><a href="" ng-click="network()">Friends Map</a></li>
                               <li><a href="" ng-click="sex()">Gals before pals?</a></li>
                               <li><a href="" ng-click="narcissistic()">Narcissistic</a></li>
                               <li><a href="" ng-click="mutualfriends()">Network Map</a></li>

            </ul>
        </div>
    </div>

    <div class="span8 offset1">
    <h2>Friends Map</h2>
     <h4>Find the friends who are near you and give a call to those one that are far from you!</h4>

        {{result[0][0]}}
        {{result[0][1]}}
        {{result[1][0]}}
        {{result[1][1]}}
        {{result[2][0]}}
        {{result[2][1]}}

    </div>
</div>
