<div class="span6">
  <form class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="photo"></label>
      <div class="controls">
        <img class="img-rounded" ng-src={{profile.picture.data.url}} id="photo" />      <!--only get small pics here-->
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" ng-model="profile.name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="gender">Genber</label>
      <div class="controls">
        <input type="text" id="gender" ng-model="profile.gender">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="hometown">Hometown</label>
      <div class="controls">
        <input type="text" id="hometown" ng-model="profile.hometown.name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input type="text" id="location" ng-model="profile.location.name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="education">Education</label>
      <div class="controls">
        <input type="text" id="education" ng-model="profile.education[2].school.name">
      </div>
    </div>
  </form>
</div>
